@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Balqis";
  src: url("./fonts/Balqis.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray: #e5e5e5;
  --color-orange: #e2ab3f;

  --border: 1px solid var(--color-orange);

  --font-family-base: "Roboto Condensed", sans-serif;
  --font-family-accent: "Balqis", sans-serif;

  --input-height: 50px;
}

li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  color: var(--color-dark);
}

.header {
  min-height: 100svh;
  position: relative;
  background: url("./images/Rectangle.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: 200px;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--font-family-base);
  font-size: 24px;
  font-weight: 400;
  padding-top: 72px;
}
.header-menu-list {
  display: flex;
  column-gap: 45px;
}
.header-menu-link {
  text-decoration: none;
  color: inherit;
}
.telephone {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main-title {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: flex-end;
  flex-direction: column;
}

.main-title-text {
  font-family: var(--font-family-accent);
  font-size: 250px;
  font-weight: 400;
  line-height: 1;
}

.main-subtitle-text {
  font-size: 56px;
  font-weight: 300;
  line-height: 0;
}

@media (max-width: 1040px) {
  .main-title-text {
    font-size: 150px;
  }
  .main-subtitle-text {
    font-size: 46px;
  }
}

@media (max-width: 830px) {
  .header-menu {
    padding-top: 40px;
  }

  .header-menu-list {
    column-gap: 35px;
  }
  .main-title-text {
    font-size: 150px;
  }
  .main-subtitle-text {
    font-size: 36px;
  }
}

@media (max-width: 630px) {
  .header-menu {
    font-size: 18px;
  }
  .header-menu-list {
    column-gap: 20px;
  }
  .telephone {
    column-gap: 5px;
  }
  .phone-icon {
    width: 18px;
    height: 18px;
  }
  .main-title-text {
    font-size: 100px;
  }
  .main-subtitle-text {
    font-size: 26px;
  }
}

@media (max-width: 450px) {
  .header-menu {
    font-size: 15px;
  }
  .header-menu-list {
    column-gap: 15px;
  }
  .telephone {
    column-gap: 3px;
  }
  .phone-icon {
    width: 15px;
    height: 15px;
  }
  .main-title-text {
    font-size: 50px;
  }
  .main-subtitle-text {
    font-size: 15px;
  }
}

/* .section-title {

  position: absolute;
  left: 25%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.section-title-text {
  font-family: var(--font-family-accent);
  font-size: 96px;
  font-weight: 400;
  color: var(--color-orange);
  line-height: 1;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 0;
}

.about-content {
  padding-top: 100px;
  position: relative;
  display: flex;
  column-gap: 55px;
}
.about-text {
  white-space: pre-line;
  line-height: 1.6;
}
.about {
  margin-bottom: 200px;
} */

.about {
  /* padding: 60px 80px; */
  font-family: "Arial", sans-serif;
  line-height: 1;
}

/* Заголовок */
.section-title {
  padding: 60px 80px;
  text-align: left; /* вирівнюємо зліва */
  margin-bottom: 100px;
}

.section-title-text {
  font-family: var(--font-family-accent);
  font-weight: 400;
  line-height: 1;
  font-size: 96px;

  margin: 0 0 5px 0;
}

.section-subtitle-text {
  font-size: 20px;
  color: #444;
  margin: 0;
}

/* Контент */
.about-content {
  display: flex;
  gap: 55px;
}

/* Фото */
.about-img {
  object-fit: cover;
}

/* Текст */
.about-text {
  white-space: pre-line;
}

.about-text p {
  margin-bottom: 50px;
}

.about-text h3 {
  margin: 25px 0 15px;
  font-size: 20px;
  color: #111;
}
/* 
.about-text ul {
  margin: 0 0 20px 20px;
  padding: 0;
}

.about-text li {
  margin-bottom: 8px;
} */

.route-content {
  display: flex;
  justify-content: flex-end;
  /* padding-top: 100px; */
  position: relative;
  column-gap: 304px;
}
.route-text {
  white-space: pre-line;
  font-size: 24px;
  line-height: 0.5;
  font-weight: 300;
}
.reservation {
  border: var(--border);
  text-transform: uppercase;
  font-size: 24px;
  padding: 11px 64px;
  background: none;
}
