@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Balqis";
  src: url("./fonts/Balqis.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray: #e5e5e5;
  --color-orange: #e2ab3f;

  --border: 1px solid var(--color-orange);

  --font-family-base: "Roboto Condensed", sans-serif;
  --font-family-accent: "Balqis", sans-serif;

  --input-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  color: var(--color-dark);
}

.header {
  min-height: 100svh;
  position: relative;
  background: url("./images/Rectangle.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-family-base);
  font-size: 24px;
  font-weight: 400;
  padding-top: 72px;
}
.header-menu-list {
  display: flex;
  column-gap: 45px;
  list-style: none;
}
.header-menu-link {
  text-decoration: none;
  color: inherit;
}
.telephone {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.title {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: flex-end;
  flex-direction: column;
}

.title-text {
  font-family: var(--font-family-accent);
  font-size: 250px;
  font-weight: 400;
  line-height: 1;
}

.signature-text {
  font-size: 56px;
  font-weight: 300;
  line-height: 0;
}

@media (max-width: 1040px) {
  .title-text {
    font-size: 200px;
  }
  .signature-text {
    font-size: 46px;
  }
}

@media (max-width: 830px) {
  .header-menu {
    padding-top: 40;
  }

  .header-menu-list {
    column-gap: 35px;
  }
  .title-text {
    font-size: 150px;
  }
  .signature-text {
    font-size: 36px;
  }
}

@media (max-width: 630px) {
  .header-menu-list {
    column-gap: 20px;
  }
  .title-text {
    font-size: 100px;
  }
  .signature-text {
    font-size: 26px;
  }
}
